.footer{
    background: colors(primary);
    padding-top: clamp(20px, 6vw, 100px);

    &__container{
        margin: 20px 0px;
    }
    

    &__title{
        padding-bottom: 7px;
    }

    &__list{
        list-style: none;
    }

    &__link{
        color: black;
        text-decoration: underline;
        transition: .15s ease-in-out;
        margin-bottom: 7px;

        &:hover{
            text-decoration: none;
            color: black;
        }
    }
}

.copyright__text{
    text-align: center;
    padding-bottom: 10px;
    padding-top: clamp(20px, 6vw, 100px);
    font-size: 13px;
    color: black;
}