.search{
    text-align: center;
    
    
    &--lg{
        padding: 0px;
        padding: 25px 0;
        max-width: 255px;

            @media (max-width: 991px) { // xs - md
                display: none;
            }
        }

    &--sm{
        padding: 25px 20px;
        background: colors(grey, light);
        justify-content: center;

        @media (min-width: 992px) { // lg -> ∞
                display: none;
        }

        & .search__input{
            width: 200px;
            background: white;
        }
    }  

    &__input{
        border: 0;
        border-radius: 0;
        background: colors(grey, light);
        height: 35px;
        padding: 2px 5px;
        width: 220px;
        
        &:focus{
            outline: 1px solid black;
        }
    }

    &__btn{
        text-align: center;
        background: colors(primary);
        color: white;
        height: 35px;
        width: 35px;
        border: 0;
        outline: 0;
        padding-left: 10px;
        
        &:hover{
            background: colors( primary, light);
        }
    }
}