/* COLOR PALETTE: ------------------------------- */


// Color Map
$colors: (
    primary: (
        base: $primary-color,
        light: lighten($primary-color, $lighten-color),
        dark: darken($primary-color, $darken-color),
    ),
    secondary: (
        base: $secondary-color,
        light: lighten($secondary-color, $lighten-color),
        dark: darken($secondary-color, $darken-color),
    ),
    tertiary: (
        base: $tertiary-color,
        light: lighten($tertiary-color, $lighten-color),
        dark: darken($tertiary-color, $darken-color),
    ),
    grey: (
        base: $grey-color,
        light: lighten($grey-color, $lighten-color),
        dark: darken($grey-color, $darken-color),
    )
    
);

// Color Function:
@function colors($base, $shade: base) {
    $color: map-get(
        map-get($colors, $base), 
        $shade
    );

    @return $color;
}
/* ---------------------------------------------- */