// Width/Height -------------------------------
::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}



// Track -------------------------------------
::-webkit-scrollbar-track {
    background: transparent;
}



// Handle ------------------------------------
::-webkit-scrollbar-thumb {
    background:  $grey-color;
    border-radius: 5px;
}



// Thumb -------------------------------------
::-webkit-scrollbar-thumb:hover {
    background:  $primary-color;
}