.edit{

    &__container{
        margin-left: clamp(0px, 1vw, 300px);
        max-width: 630px;
        margin-bottom: 50px;

        @media screen and (max-width: 991px) {
            margin: 0 auto;
            max-width: 100%;
        }

        @media screen and (min-width: 992px) {
            margin-left: 300px;
        }
    }

    &__title{
        font-size: clamp(25px, 5vw, 35px);
        margin-bottom: clamp(10px, 5vw, 20px);
        margin-top: clamp(15px, 5vw, 20px);
    }

    &__form{
        &__label{
            width: 100%;
            margin-top: clamp(15px, 5vw, 25px);
            font-weight: 500;
        }
        
        &__input,
        &__textarea{
            border-radius: 0;
            outline: 0;
            border: 0;
            background: colors( grey, light);
            width: 100%;
            padding: 5px;

            &:focus{
                outline: 1px solid black;
            }
        }

        &__textarea{
            height: 150px;
        }

        &__featured{
            margin-bottom: 30px;
        }

        &__delete-button{
            margin: 0;
        }

        &__button--add{
            margin-bottom: 50px;
        }
    }

    &__advanced-option{
        width: clamp(200px, 90vw, 600px);
        margin-bottom: 80px;

        & .card-header{
            padding: 0;
            margin-top: 30px;
        }

        & .card-body{
            padding: clamp(15px, 5vw, 20px);
        }
    }
}


.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: colors(primary);
    border-color: colors(primary);
}

#featured__true:checked ~ .featured__true{
    color: #fff;
    background-color: colors(primary);
    border-color: colors(primary);
}

.btn-secondary {
    color: #000;
    background-color: colors(grey);
    border-color: colors(grey);
    margin-top: 5px;

    &:hover{
        color: #000;
        background-color: colors(grey, dark);
        border-color: colors(grey, dark);
    }
}